.git
.github
.venv
venv
.mypy_cache
.ruff_cache
.pytest_cache
htmlcov
coverage.xml
.coverage
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
build
dist
tests
examples
.editorconfig
.gitattributes
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
CONTRIBUTING.md
ROADMAP.md
SECURITY.md
Makefile
